.sidebarWrapper {
  display: block;
  padding-top: 90px;
  padding-left: 90px;
}

.employeesWrapper {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .sidebarWrapper {
    padding-left: 0;
    padding-bottom: 60px;
  }
}
